<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
    <form method="POST" id="authForm">
  <div>
      <h3> Sign-up </h3>
      <p>
          <label for="signUpId">ID&nbsp&nbsp&nbsp</label>
          <input type="text " id="signUpId" name="signUpId" >
      </p>

      <p>
          <label for="signUpPw">Password</label>
          <input type="signUpPw" id="signUpPw" name="signUpPw">
      </p>
      <input type="submit" name="submit" value="Sign-Up" style="WIDTH: 183pt"/>

    </div>
</form>

</body>
</html>