<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign-In</title>
</head>
<body>
<form method="POST" id="authForm">
    <div>
        <p>
        <h1> Hello</h1>
        </p>
        <h3> Please Sign-In</h3>
        <p>
            <label for="signInId">ID&nbsp&nbsp&nbsp</label>
            <input type="text" id="signInId" name="signInId" placeholder="ID">
        </p>

        <p>
            <label for="signInpw">Password</label>
            <input type="password" id="signInpw" name="signInpw" placeholder="Password">
        </p>
    </div>
    <input type="submit" name="signIn" value="sign-In" style="WIDTH: 183pt"/>
    <p>
        <input type=button style="WIDTH: 183pt; background-color:transparent;  border:0px transparent solid;"
               value="sign-Up" name="signUp" onclick="location.href='signUp.html'">
    </p>

</form>

</body>
</html>
